In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../dados/tudo.csv')

In [4]:
df_renamed = df.rename(columns={'date': 'day', 'valor': 'value'})

In [5]:
df_renamed

,day,descricao,value,referencia
0,2020-10-08,RI HAPPY BRIN PARC 05/05 JOAO PESSOA BR,-49.99,2021-03-10
1,2020-12-15,ELITTE ACADEM PARC 05/12 Joao Pessoa BR,-69.90,2021-05-10
2,2020-12-15,ELITTE ACADEM PARC 04/12 Joao Pessoa BR,-20.00,2021-04-10
3,2020-12-15,MARIAH CONFEC PARC 04/05 JOAO PESSOA BR,-211.88,2021-04-10
4,2020-12-15,ELITTE ACADEM PARC 05/12 Joao Pessoa BR,-20.00,2021-05-10
...,...,...,...,...
231,2021-05-05,Pagamento de Telefone - TIM SA,-75.99,2021-05-10
232,2021-05-06,PIX - Enviado - 06/05 12:25 Luciano Severo Da ...,-1000.00,2021-05-10
233,2021-05-06,Transferência Periódica - 06/05 1234 13182...,-451.18,2021-05-10
234,2021-05-10,Transferência enviada - 08/05 1234 131826-...,-72.50,2021-05-10
235,2021-05-10,Pagamento de Boleto - NU PAGAMENTOS S.A.,-10000.00,2021-05-10

In [31]:
grouped_days = df_renamed.groupby('day').value.sum().to_frame().sort_index()
grouped_days

               value
day
2020-10-08    -49.99
2020-12-15   -905.34
2020-12-27    -84.95
2020-12-28   -356.97
2021-01-27    -22.92
...              ...
2021-05-03   7843.27
2021-05-04    -96.00
2021-05-05   -470.76
2021-05-06  -1451.18
2021-05-10 -10072.50

[89 rows x 1 columns]

In [36]:
grouped_days['day'] = grouped_days.index
final_df = grouped_days.reset_index(drop=True)
final_df = final_df[['day', 'value']]
final_df

           day     value
0   2020-10-08    -49.99
1   2020-12-15   -905.34
2   2020-12-27    -84.95
3   2020-12-28   -356.97
4   2021-01-27    -22.92
..         ...       ...
84  2021-05-03   7843.27
85  2021-05-04    -96.00
86  2021-05-05   -470.76
87  2021-05-06  -1451.18
88  2021-05-10 -10072.50

[89 rows x 2 columns]

In [37]:
import json

In [40]:
result = grouped_days.to_json(orient='records')
parsed = json.loads(result)
open('../dados/daily.json', 'w').write(json.dumps(parsed, indent=4))

5898